.container{
    width:95%;
    margin: 0 auto;
}
.img-countrie{
    display: block;
    width: 90%;
    margin: 0 auto;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info h3{
    text-transform: uppercase;
}
.info span{
    font-weight: bold;
}
.info-content{
    max-height: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
button{
    margin: 1rem 0 1rem;
    padding: 0.6rem 6rem;
    border:none;
    border-radius: 1rem;   
    text-align: center;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.linkBorders{
    text-decoration: none;
}
.btnBorders{
    margin: 0.4rem 0.2rem;
    padding: 0.4rem 0.4rem;
    border:none;
    border-radius: 1rem;   
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.95);
    color: #fff;
    cursor: pointer;
}
.btnBorders:hover{
    background-color: rgba(0, 0, 0, 0.7);
}