.navBar {
  background-color: #000;
  width: 100%;
}
.navBar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  padding: 10px 0;
}
.navBar__container div img{
    width: 100px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link__item {
  margin-right: 2rem;
}
.link__item:last-child {
  margin-right: 0;
}
.link__item a{
    padding: 0;
    margin: 0;
    font-weight: bold;
}
